

@import '~bootstrap/scss/bootstrap';
@import url('./styles/queryBuilder.scss');

body {

font-family: 'Open Sans', sans-serif;
font-size: 12px;

}

#sidebarMenu{
    height: 90vh;
    border-left: 2px solid #dee2e6
  }


  